.fpContainer{
    margin: 20px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
   
}

.fpItem{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     height: 300px;
     width: 100%;
    overflow: hidden;

}



.fpImg{ 
    margin-bottom: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;

    cursor: pointer;
}

.fpName{
    font-size: 20px;
    font-weight: 300;
}

.fpCity{
    font-size: 20px;
    font-weight: 500;
}
.fpPrice{
    font-size: 14px;
    font-weight: 400;
}
.rating{
    margin-top: 5px;
  display: flex;
  align-items: center;
}

.rating>button{
    background-color: #001D6E;
    color: white;
    margin-right: 15px;
    border-radius:  7px 7px 5px 0 ;
  }

