.homeContainer{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
 
}

.exploreFinland{
  margin-left: -855px;
  font-size: 20px;
}

.homeTitle{
    width: 1024px;
    font-size: 20px;
}

.newsLetterContainer{
  height: 30vh;
  width: 100%;
  background-color: #001D6E;
  display: flex;
  align-items: center;
  justify-content: center;
}